.eventCard {
	width: 100%;
	padding: 16px 0 16px 0;
}

.center-croppedCard {
    width: 100px;
    height: 100px;
    background: no-repeat center center;
    float: left;
}

.details-containerCard {
    overflow: hidden;
    padding-left: 16px;
}

p { 
    margin: 0;
}