.event {
    width: 100%;
}

.center-cropped {
    width: 100%;
    height: 450px;
    background: no-repeat center center;
    margin: 16px 0 16px 0;
    background-size: cover;
}

.details-container {
    overflow: hidden;
    padding: 16px 0 16px 0;
}

.eventtime {
    width: 50%;
    float: left;
}

.location {
    width: 50%;
    float: right;
}